* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

--Purple-50: hsl(260, 100%, 95%);
--Purple-300: hsl(264, 82%, 80%);
--Purple-500: hsl(263, 55%, 52%);

--White: hsl(0, 0%, 100%);
--Grey-100: hsl(214, 17%, 92%);
--Grey-200: hsl(0, 0%, 81%);
--Grey-400: hsl(224, 10%, 45%);
--Grey-500: hsl(217, 19%, 35%);
--Dark-blue: hsl(219, 29%, 14%);
--Black: hsl(0, 0%, 7%);
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: var(--Grey-100);
  line-height: 1.6;
}

.container {
  max-width: 1110px;
  margin: 2rem auto;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "purple purple gray white1"
    "white2 black black white1";
  gap: 30px;
}


.card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.card--purple { grid-area: purple; }
.card--gray   { grid-area: gray; }
.card--white:nth-of-type(3) { grid-area: white1; }
.card--white:nth-of-type(4) { grid-area: white2; }
.card--black  { grid-area: black; }


.card--purple {
  background: var(--Purple-500);
  color: var(--White);
}

.card--gray {
  background: var(--Grey-500);
  color: var(--White);
}

.card--black {
  background: var(--Black);
  color: var(--White);
}

.card--white {
  background: var(--White);
  color: var(--Grey-500);
}


.profile {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,0.4);
}

.profile h3 {
  font-size: 13px;
  opacity: 0.7;
}

.profile p {
  font-size: 13px;
  opacity: 0.5;
}


.card h2 {
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 8px;
}

.quote {
  font-size: 13px;
  opacity: 0.7;
}

@media (max-width: 900px) {
  .container {
    max-width: 25rem;
    
    grid-template-columns: 1fr;
    grid-template-areas:
      "purple"
      "gray"
      "white2"
      "black"
      "white1";
  }

  .card {
    max-width: 20rem;
  }
}

